{% extends "base.html" %}
{% load static %}

{% block title %}
Contact - Echofy
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<!-- contact Section Start -->
<div class="contact-breadcrumb-section">
  <img src="{% static 'images/breadcumb-bg.jpg' %}" alt="contact-Background" class="contact-breadcrumb-bg">
  <div class="contact-breadcrumb-overlay d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-5 fw-bold text-white">Contact</h1>
    <p class="text-white">
      <i class="bi bi-circle-fill text-success me-1"></i> Echofy — <span class="text-light">Contact Us</span>
    </p>
  </div>
</div>

  <!-- Contact Section -->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
          <img src="{% static 'images/process-thumb.jpg' %}" alt="process" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
          <p class="text-success fw-semibold mb-2">
            <i class="bi bi-flower2 me-1"></i> CONTACT US
          </p>
          <h2 class="fw-bold mb-3">
            Fresh Environmental <br> Plant & Safe Trees
          </h2>
          <p class="text-muted mb-4">
            Proactively revolutionize sustainable futures through eco-centric strategies. Seamlessly innovate clean
            technologies and empower green infrastructure to foster a thriving and resilient global ecosystem.
          </p>
          <a href="#" class="btn btn-success px-4 py-2 d-inline-flex align-items-center">
            Contact Us <i class="bi bi-leaf ms-2"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock  %}